*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1{
    font-size: 3rem;
    text-align: center;
}
.temporizador{
    width: 100%;
    height: auto;
    display:flex;
    justify-content: center;
    margin-top: 32px;
}
#start{
    background-color: green;
    color:white;
    padding:15px;
    border:none;
    border-radius: 10px;
}
#stop{
    background-color: rgb(219, 219, 6);
    color:white;
    padding:15px;
    border:none;
    border-radius: 10px;
}
#reset{
    background-color: red;
    color:white;
    padding:15px;
    border:none;
    border-radius: 10px;

}
.horas, .minutos, .segundos{
    width:64px;
    height: 64px;
    background-color: rgb(163, 163, 163);
    margin: auto 16px;
    /* border:1px solid red; */
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
}
#horas, #minutos, #segundos
{
    font-size: 2.5rem;
    color:black;
    font-weight: 800;
    text-align: center;
}
#start, #stop,#reset{
    cursor:pointer;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin-right: 16px;
}
.controles{
    display: flex;
    justify-content: center;
    /* border:1px solid black; */
    margin-top: 32px;
}